# Notebook
jupyter

# Packages to download dataset
bs4            # requirement for fetchopenfmri
lxml           # requirement for fetchopenfmri
fetchopenfmri  # download fmri dataset from openfmri.org

# Pre-processing
nibabel >= 1.1
nipype >=0.13

# visualization
pandas
sklearn
nilearn

# PyHRF
pyhrf
joblib          # parallel computation
