# Notebook
jupyter

# Packages to download dataset
bs4            # requirement for fetchopenfmri
lxml           # requirement for fetchopenfmri
fetchopenfmri  # download fmri dataset from openfmri.org

# Pre-processing
nibabel>=1.1, <2.1.0
nipype>=0.13

# visualization
pandas
sklearn
nilearn

# PyHRF
sphinx
joblib          # parallel computation
scipy>=0.9
sympy>=0.7
nipy>=0.3.0
matplotlib>=1.1
numpy>=1.6, <1.12
sphinx_bootstrap_theme
colorama
-e git+https://github.com/pyhrf/pyhrf.git@master#egg=pyhrf
